<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.2.0.min.js"></script>
        <script>
            const socket = io.connect();
            $(document).ready(() => {
                console.log('ready');
                $('#sl-quangcao').change(() => {
                    $('#img-hinh').attr('src', $('#sl-quangcao').val());
                });
            });
        </script>
        <style>
            .red {
                color: red;
            }
            hr {
                visibility: hidden;
            }
        </style>
    </head>
    <body>
        <select id="sl-quangcao">
            <option>--Chon 1 quang cao--</option>
            <option value="facebook.jpg">Facebook</option>
            <option value="google.png">Google</option>
            <option value="instagram.png">Instagram</option>
        </select>
        <button id="btnSend">Send</button>
        <hr />
        <img src="google.png" id="img-hinh"/>
    </body>
</html>
